<div class="row">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!">
      <div>
        <div>
          <h3>Education</h3>
        </div>
        <div>
          <% for(var key in result){ %>
          <% if(result[key].data.type=="1"){ %>
          <i class="material-icons">fast_rewind</i>
          <button class="waves-effect waves-light btn" onclick="placeBtnHendler('<%= result[key].data.lat %>','<%= result[key].data.lng %>');"><%= result[key].data.name %></button>
          <i class="material-icons">fast_forward</i>
          <% } %>
          <% } %>
        </div>
      </div>
    </a>
    <a class="carousel-item" href="#two!">
      <div>
        <div>
          <h3>Dome</h3>
        </div>
        <div>
          <% for(var key in result){ %>
          <% if(result[key].data.type=="2"){ %>
          <i class="material-icons">fast_rewind</i>
          <button class="waves-effect waves-light btn" onclick="placeBtnHendler('<%= result[key].data.lat %>','<%= result[key].data.lng %>');"><%= result[key].data.name %></button>
          <i class="material-icons">fast_forward</i>
          <% } %>
          <% } %>
        </div>
      </div>
    </a>
    <a class="carousel-item" href="#three!">
      <div>
        <div>
          <h3>Food</h3>
        </div>
        <div>
          <% for(var key in result){ %>
          <% if(result[key].data.type=="3"){ %>
          <i class="material-icons">fast_rewind</i>
          <button class="waves-effect waves-light btn" onclick="placeBtnHendler('<%= result[key].data.lat %>','<%= result[key].data.lng %>');"><%= result[key].data.name %></button>
          <i class="material-icons">fast_forward</i>
          <% } %>
          <% } %>
        </div>
      </div>
    </a>
    <a class="carousel-item" href="#four!">
      <div>
        <div>
          <h3>Play</h3>
        </div>
        <div>
          <% for(var key in result){ %>
          <% if(result[key].data.type=="4"){ %>
          <i class="material-icons">fast_rewind</i>
          <button class="waves-effect waves-light btn" onclick="placeBtnHendler('<%= result[key].data.lat %>','<%= result[key].data.lng %>');"><%= result[key].data.name %></button>
          <i class="material-icons">fast_forward</i>
          <% } %>
          <% } %>
        </div>
      </div>
    </a>
  </div>
</div>
<script>
  $('.carousel.carousel-slider').carousel({full_width: true});
  function placeBtnHendler(lat,lng) {
    map.findPlacePath(parseFloat(lat),parseFloat(lng));
    hideSearchPanel();
  }
  function showSearchPanel() {
    $("#searchPanel").animate({top: '70vh'});
    $("#buts").animate({bottom: '30vh'});
    $('#searchBut i').html("stop");
    map.clearPlacePath();
  }

  function hideSearchPanel() {
    $("#searchPanel").animate({top: '100vh'});
    $("#buts").animate({bottom: '10px'});
    $('#searchBut i').html("search");
  }
</script>